<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- css -->
        <link rel="stylesheet" href="style/style.css">

        <!-- google font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap" rel="stylesheet">


        <!-- fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <title>Document</title>
    </head>
    <body>
        <div id="root">    
            <div id="root">
                <header>
                    <img class="headerLogo" src="media/logo.png" alt="boolean logo">
                </header>
                <nav>
                    <input v-model="newTodo" @keyup.enter="addItem()" type="text" placeholder="Insert new ToDo" id="userInput">
                    <button @mouseup="addItem()">Add</button>
                    <div class="filters">
                        <div @click="filterArray(0)">active</div> 
                        <div @click="filterArray(1)">completed</div> 
                        <div @click="filterArray(2)">all</div>
                    </div>
                    <div @click="clearList()" class="deteleAll">delete all completed</div>
                </nav>
                <main>
                    <ul v-if="todoList.length>0">
                        <li v-for="(todo, index) in filteredTodoList" :key="index">
                            <div @mouseup="toggleCompleted(index)"  :class="{completed: todo.completed}">{{todo.content}}</div>
                            <div class="backElement"><i @click="modifyItem(index)" class="fas fa-pencil-alt"></i><i @click="deleteElement(index)" class="fas fa-times"></i></div>
                        </li>
                    </ul>
                    <H3 v-else>THE LIST IS EMPTY</H3>
                </main>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="scripts/script.js"></script>
    </body>
</html>